<main role="main" class="container">
      <h1 class="mt-5">COMP 3133 – Full Stack Development II</h1>
      <p class="lead">Felix Gokmen</p>
      <p class="lead">101168654</p>
      <p class="lead">PTotal Points (16%)
        Submission Deadline: Thursday, 22nd April 2021 (Week15)</p>
      <p>Note: All Students will maintain git repository name
        studentId_comp3133_assig2
        Refer Assignment – I as a backend to create frontend for assignment2
        using AngularJS
        Do some research to fetch data using GraphQL in Angular Project.
        
        <br>
        </p>
    </main>
