<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Fatih" />
    <link
      rel="icon"
      href="images/blogs/iconme.png"
      type="image/gif"
      sizes="16x16"
    />

    <title>FELIX GOKMEN</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
  </head>

  <body>
    <header>
      <!-- Fixed navbar -->

      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <nav class="navbar">
          <div class="container-fluid">
            <a
              class="navbar-brand"
              href="https://fgokmen.herokuapp.com/"
              target="blank"
            >
              <img
                src="../../assets/felix.png"
                alt=""
                class="d-inline-block align-top"
              />
            </a>
          </div>
        </nav>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a
                class="nav-link"
                routerLink="/home">
               
                Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item link">
              <a
                class="nav-link link"
                routerLink="/about"
                
                >About</a
              >
            </li>
            
            <li class="nav-item link">
              <div *ngIf="isValid;">
              <a
                class="nav-link link "
                routerLink="/hotel"
                
                >Hotel</a
              ></div>
            </li>
            <li class="nav-item link">
              <div *ngIf="isValid;">
              <a
                class="nav-link link"
                routerLink="/booking"
                
                >Booking</a
              ></div>
            </li>
            <li class="nav-item link">
              <div *ngIf="isValid; else isLogout">
              <a
                class="nav-link link text-danger"
                routerLink="/logout"
                
                >Logout</a
              ></div>
              <ng-template #isLogout>
                <a
                  class="nav-link link"
                  routerLink="/login" >Login</a
                >  </ng-template>
            </li>

            <li class="nav-item link">
              <div *ngIf="!isValid;">
              <a
                class="nav-link link"
                routerLink="/registration"
                
                >Register</a
              ></div>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0" *ngIf="isValid;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
   
    <br><br><br><br><br><br>
   
  


<router-outlet></router-outlet>
<br><br><br><br><br><br>
<br><br>
<article class="bg-secondary mb-3 footer">  
<div class="card-body text-center">
    <h3 class="text-white mt-3">Individual Assignment - II</h3>
<p class="h5 text-white">COMP 3133  <br> Using GraphQL in Angular Project</p>   <br>
<p><a class="btn btn-warning" target="_blank" href="http://fkgokmen.herokuapp.com/"> fkgokmen.herokuapp.com 
 <i class="fa fa-window-restore "></i></a></p>
</div>
<br><br>
</article>